<section class="index-page">
  <p>Please authorize before using this site</p>

  <a href="/auth/google" class="loginBtn loginBtn--google">
    Login with Google
  </a>
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
</section>