<section class="index-page">
  <img class="avatar" src={{ userImage }} alt="avatar">
  <h2>Hello {{ userName }}!</h2>
  <a href="/user/profile">Profile</a>
  <a href="/user/profile/settings">Settings</a>
  <a href="/auth/logout">Logout</a>
</section>